table {
    border-collapse: separate;
    border-spacing: 2px;
}

table.ding {
    font-family: sans-serif;
}
table.ding tr {
    vertical-align: top;
}

table.ding tr:nth-child(odd) td {
    background-color: lightskyblue;
}

table.ding tr:nth-child(even) td {
    background-color: lightgrey;
}

td.ding.ding-row {
    padding-left: 1em;
}

td.ding.ding-row.ding-row-0 {
    padding-left: 0;
}

span.ding.ding-hl {
    background-color: #fff183;
}

/* separate this part later */
table.declination {
    font-family: sans-serif;
    font-size: small;
    border-spacing: 5px 2px;
}

table.declination tr:nth-child(odd) td {
    background-color: lightskyblue;
    border-color:  lightskyblue;
    border-style: solid;
}

table.declination tr:nth-child(even) td {
    background-color: lightgrey;
    border-color: lightgrey;
    border-style: solid;
}

.ding.ding-attention {
    color: red;
}
.declination.declination-declination {
    font-weight: bold;
}

.declination.declination-case {
    font-style: italic;
}